* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(6, 173, 0);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: pipe-animation 1.4s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}
.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 12s infinite linear;
}

.moedac {
    position: absolute;
    width: 40px;
}

.moedap {
    position: absolute;
    width: 60px;
    bottom: 40%;
    animation: moedap-animation 7s infinite linear;
}

.bowserf {
    position: absolute;
    width: 100px;
    right: 0;
    bottom: 23%;
}

.terrab {
    position: absolute;
    width: 50px;
    right: 0;
    bottom: 20%;
}

.terrab2 {
    position: absolute;
    width: 50px;
    right: 25px;
    bottom: 20%;
}

.fireball8 {
    position: absolute;
    width: 100px;
    bottom: 23%;
    animation: fireball8-animation 7s infinite linear;
}

@keyframes fireball8-animation {
    from {
        right: 60px;
    }

    to {
        right: 100%;
    }
}

@keyframes bowserf-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes moedap-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }   

    35% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    65% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}